* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "MalGun Gothic";
}

li {
	list-style: none;
}

.hd {
	display: none;
}

html .ohd {
	opacity: 0;
}

html, body, .layer-omok-modal {
	width: 100%;
	height: 100%;
}

body {
	background-image: url('../images/background.png');
	background-position: 50% 50%;
}

.layer-omok-modal {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	opacity: 1;
	transition: .2s;
}

.omok-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 400px;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	text-align: center;
	-webkit-animation: modal_animate 1.5s;
	animation: modal_animate 1.5s;
	overflow: hidden;
}

@-webkit-keyframes modal_animate {
	0% { width: 0px; height: 1px; }
	30% { width: 0px; height: 1px; }
	55% { width: 500px; height: 1px; }
	100% { width: 500px; height: 400px; }
}

@keyframes modal_animate {
	0% { width: 0px; height: 1px; }
	30% { width: 0px; height: 1px; }
	55% { width: 500px; height: 1px; }
	100% { width: 500px; height: 400px; }
}

.omok-modal-title {
	padding-top: 15px;
	height: 100px;
	background: #333;
	color: #fff;
	font-size: 3rem;
}

.omok-modal-content {
	height: 300px;
	background: #fff;
}

.omok-stone-list {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	height: 230px;
}

.omok-stone-figure, .omok-stone {
	cursor: pointer;
}

.omok-stone-figure {
	width: 47%;
	height: 100%;
	border: 1px solid #ccc;
}

.omok-stone-selected {
	background: #34495e;
	border: 1px solid #24394e;
	-webkit-animation: stone_animation .5s;
	animation: stone_animation .5s;
}

@-webkit-keyframes stone_animation {
	from { background: #101d2a; }
}

@keyframes stone_animation {
	from { background: #101d2a; }
}

.omok-stone div {
	margin: 20px auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 7px solid #000;
}

.stone-black {
	background: #000;
}

.stone-white {
	background: transparent;
}

.omok-stone-selected .omok-stone div {
	border-color: #fff;
}

.omok-stone-selected .stone-black {
	background: #fff;
}

.omok-stone-selected .omok-stone-text {
	color: #fff;
}

.omok-stone-text {
	font-size: 1.4rem;
	font-weight: bold;
	color: #444;
}

.omok-start {
	background: #fff;
	color: #222;
	border: 1px solid #222;
	width: 30%;
	padding: 10px 0;
	transition: .3s;
	font-size: 1.1rem;
	cursor: pointer;
}

.omok-start:hover {
	background: #222;
	color: #fff;
}